
h1{
    height: auto;
}
a{
    color: var(--color_textos);
}
.contenedor_FAQ{
    --tamano_fuente_titulos:2rem;
    width: 90%;
    margin: 4rem auto;
    display: flex;
    justify-content: space-around;
    gap: 7rem;
}
.categorias {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 3;

}


.preguntas, .categorias{
    padding: 4rem;
    border: solid 1px var(--verde_primario);
    border-radius: 2rem;
}
.preguntas{
    flex-grow: 3;
    margin-bottom: 0;
}
.respuesta{
    margin-top: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    font-size:2rem ;
    transition:   1s ease-in-out max-height, 0.9s  0.1s opacity; 
    
}
.pregunta:hover + .respuesta,.respuesta:hover{
        
        max-height: 500px;
        opacity: 1;
}
