@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;700;900&display=swap');

.enlace, #enlace{
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;

}
.hidden{
    display: none;
}


.logo{
    margin: 0 0rem;
    padding: 0;
    width:4rem;
    height:3rem;
    border-radius: 1rem;
}

nav a:hover{
    background-color: #00923f;
    box-shadow:  0px 0px 5px 1.5px #007a4f;
}
.marguin-servicios-primera-linea{
    margin-top: 5rem !important;
}

.img-fondo {
    width: 100%;
    height:700px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 }
 
.altura_100{
    height: 100px;
}
.img-fondo{
    width: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    background-blend-mode: soft-light;
    background-size: cover;


}


.img-enlace{
    border-radius: 1rem;
    background-color: rgba(195, 51, 51, 0.1);
    background-blend-mode: soft-light;
     display: flex;
     width: 100%;
     height: 500px;
     background-size: cover;
     /* background-color:#b62d2309; */
 }
 .img-enlace:hover{
    background-color: rgba(203, 196, 196, 0.79);


 }

.fondo_imagen_iris{
    background-color:rgba(195, 51, 51, 0.1) ;
    color: #fff;
}
 
.mascara {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
background-attachment: fixed;
}
@media(max-width:1250px){
    .enlace{
        margin: 0.1rem;
    }
    #enlace{
        margin: 0px;
        padding: 0.1rem;
    }

}
@media(max-width:768px){
    .img-enlace{
        width: 100%;
        height: 300px;

  
    
    }
}
@media(max-width:450px) {
    .logo{
        margin: 0 0rem;
        padding: 0;
        width:2rem;
        height: 2rem;
 
        border-radius: 1rem;
    }
        #enlace{
        font-size: small;
    }
    .marguin-servicios-primera-linea{
        margin-top: 2.5rem !important;
    }
}
@media(max-width:290px) {
    .marguin-servicios-primera-linea{
        margin-top: 5rem !important;
    }

}

@media(min-width:570px){


.card{
    transition:  ease-in, .3s;
     overflow: hidden;
}

.card:hover{
    transform:scale(1.2) ;
    display: relative;
    border-radius: 2rem;
   
    z-index: 100;
    /* background-color: rgba(124, 121, 121, 0.126); */
}

}

