


.main-index{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "elemento1 elemento1"
    "elemento2 elemento3"
    "elemento4 elemento5"
    ;
}
.img-1{
    background-image: url('../img/arboles.jpg');
    grid-area: elemento1;
}
.img-2{
    background-image: url('../img/cursos/iris.jpg');
    grid-area: elemento2;
}
.img-3{
    background-image: url('../img/seven.jpg');
    grid-area: elemento3;
}
.img-4{
    background-image: url('../img/productos.jpg');
    grid-area: elemento4;
}
.img-5{
    background-image: url('../img/servicios/shiatsu.jpg');
    grid-area: elemento5;
}

.biblia{
    background-image: url(../img/biblia.jpg);
    background-position: center;
    background-size: cover;
    height:100%;
}
.foto_papa{
    background-position: center;
    background-size: cover;
    height:100%;

}



.texto-index{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.intro_index{
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 122, 79, 0.3);
    border-bottom: solid 1px rgba(129, 255, 192, 0.267);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}




.fondo_imagen_iris{
    background-color:rgba(195, 51, 51, 0.1) ;
    color: #fff;
}
 

@media(max-width:1250px){

}
@media(max-width:950px){
    .img-2, .img-3, .img-4, .img-5{
        height: 50vh;
    }    
    .botones{
   
     --tamano_fuente_botones:1rem;
    }    
    .parrafo-index{
        font-size: 1.2rem;
    }
}
@media(max-width:768px){




    .main-index{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "elemento1 elemento1"
        "elemento2 elemento2"
        "elemento3 elemento3"
        "elemento4 elemento4"
        "elemento5 elemento5"
        ;
    }    
    .img-1, .img-2, .img-3, .img-4, .img-5{
  
        height: 100vh;
    }
}
@media(max-width:450px) {
    /* .logo{
        margin: 0 0rem;
        padding: 0;
        width:4rem;
        height: 3rem;
 
        border-radius: 1rem;
    } */



 
}
@media(max-width:290px) {

}

@media(min-width:570px){


.card{
    transition:  ease-in, .3s;
     overflow: hidden;
}

.card:hover{
    transform:scale(1.2) ;
    display: relative;
    border-radius: 2rem;
   
    z-index: 100;
    /* background-color: rgba(124, 121, 121, 0.126); */
}

}

