
.contenedor_cursos .curso:nth-child(even){
    flex-direction: row;
    border-right: solid 2px var(--verde_primario);
   
}
.contenedor_cursos .curso:nth-child(odd){
    flex-direction: row-reverse;
    border-left: solid 2px var(--verde_primario);
   
}
.contenedor_cursos .curso:nth-child(even) .img_curso{
    flex-direction: row-reverse;
    margin-left: 10%;
    clip-path:  polygon(0 0, 100% 0, 70% 100%, 0 100%);
    
    
}
.contenedor_cursos .curso:nth-child(odd) .img_curso{
    flex-direction: row-reverse;
    margin-right: 10%;
    clip-path:  polygon(30% 0, 100% 0, 100% 100%, 0 100%);
   
}
.contenedor_cursos .curso:nth-child(odd) .nombre_curso{
    flex-direction: row-reverse;
    margin-left: 10%;
}
.curso{
    background-color: #00ffae24;
    margin: 10rem auto;
    width: 90%;
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: space-around;
    color: var(--verde_primario);
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.2);
   
}
.img_curso{
    padding: 4rem;
    height: 300px;
    width: 500px;
    transform: scale(1.15);
    background-color: rgb(226, 226, 226);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    
}
.nombre_curso{
    width: 50%;
    font-size: 2vw;
}