@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,700;1,300;1,400&family=Poppins:wght@100;400;700;900&family=Roboto+Slab:wght@100;700;900&display=swap');
:root{
    --verde_primario:#007a4f;
    --verde_secundario:#00923f;
    --color_texto:#f8f9fa;
    --color_botones:#f8f9fa;
    --background_color_botones:hsla(0, 0%, 100%, 0.2);
    --color_botones_hover:#000;
    --background_color_botones_hover:rgb(255, 255, 255);
    --color_fondo_nav:#1f2326;
    --color_hover_burger:#112B3C;
    --color_hover_bg_burger:#205375;
    --color_hover_img: rgba(235, 235, 235, 0.2);
    --fuente_textos:'Poppins', sans-serif;
    --fuente_elegante:'Montserrat', serif;
    --tamano_fuente_botones:2rem;
    --transform_scale_botones:1.2;
    --tamano_fuente_titulos:4rem;
    --anchura_mapa:50%;
    --altura_mapa:100vh;
    --p_max_width:100rem;
    --h1_max_width:100rem;
    --smooth_carrusel:transform, ease-in-out, 0s;
    --bg_carrusel:linear-gradient(90deg, rgba(166,173,66,0.5) 0%, rgba(42,172,42,0.5) 100%);
    --color_textos:#6c757d ;
    --clipy:  polygon(0 0, 100% 0, 100% 0, 0 0);

}


*, *:before, *:after{
    box-sizing: border-box;
 
    font-size: 62.5%; /*esto hace que 1rem sea igual a 10px*/
    padding: 0;
    margin: 0;
    font-family: var(--fuente_textos);

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
    
    
}
body{
    position: relative;
}
nav{
    padding: 0.1px;
    background-color: var(--color_fondo_nav);
}
nav a:hover{
    background-color:var(--verde_secundario) ;
    box-shadow:  0px 0px 5px 1.5px var(--verde_primario);
    
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 10;
    /* display: none; */
}
.icon_escape{
    height:100px;
    width: 100px;
    transform: rotate(45deg);
    fill: rgba(255, 255, 255, 0.788);
    stroke:rgba(255, 255, 255, 0.788) ;
    stroke-width: 0.1;
    transition: transform 0.2s ease-in-out;
}
.icon_escape:hover{
    
    transform: rotate(135deg);
}


.ojo_nav{
    overflow: hidden;
    --tamano_fuente_titulos:3rem;
    --tamano_parpado:0%;
    --tamano_ojo:68vw;
    --border_ojo:rgba(255, 255, 255, 0.395) solid 0.1px;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    flex-shrink:0 ;
    transition: transform 2s  ease-in-out;
    transform: translate(-50%,-50%) rotate(45deg) scale(0.001);
    background-color: rgba(255, 255, 255, 0.395);
    height: var(--tamano_ojo);
    width: var(--tamano_ojo);
    max-height: 100vh;
    max-width: 100vh;
    border-radius:  80% 0 ;
    background-color: #fdddcd26;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.1);
    border:var(--border_ojo);
    z-index: 100;
    opacity: 1;
    
}
.ojo_nav:hover{
    --tamano_parpado:145%;
}


.parpado{
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 145%;

    height: var(--tamano_parpado);
    transform: translate(-50%,-50%) rotate(-45deg);
    border-top:solid 1px rgba(255, 255, 255, 0.1) ;
    border-bottom:solid 1px rgba(255, 255, 255, 0.1) ;
    transition: height 1s 1.4s ease;
    /* background-color: rgba(124, 29, 29, 0.188); */
    background-color:rgba(255, 255, 255, 0.116);
   
}
.pupila{
    display: grid;
    display:grid;
    position: relative;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    '.  e2 e2 e10  e10   . '
    'e1 e1  .   .   e3  e3'
    'e4  .  .   .   .  e5'
    'e6 e6  .   .   e8 e8 '
    '.  e7 e7  e9   e9  . '
    ;
    height:calc(var(--tamano_ojo)*0.65);
    width:calc(var(--tamano_ojo)*0.8);
    max-height:65vh ;
    max-width: 80vh;
    border-radius: 50%;
   
}
.iris{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius:50% ;
    width:50%;
    height:60%;
      background-image: url(../img/ojo_nav.jpeg), linear-gradient( 90deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5)100%);
    background-position:center ;
    /* background-repeat:no-repeat ; */
    background-size: 130%;
}

.a_index{
    color: var(--color_texto);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
            z-index: 300;

}
.a_index:hover{
    color: var(--verde_primario);
}

footer{
   padding: 2rem 20% ;
    margin: 0 auto ;
    background-color: var(--color_fondo_nav);
    color:#fff;
}
footer a{
    font-size:2rem ;
    display: inline-block;
    color: #fff;
}
footer a:hover{
 color:#007a4f ;

}
.contenedor_enlace_footer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    
}
a{
    text-decoration: none;
    display: inline-block;
    color: var(--color_texto);
    font-size: calc(var(--tamano_fuente_titulos)*0.5);
}
a:hover{
    text-decoration: none;
}
p{
    max-width:var(--p_max_width);
    margin: 2rem auto;
    font-size: calc(var(--tamano_fuente_titulos)*0.5);
    font-weight: 200;
}
h1 {
    max-width:var(--h_max_width);
    font-size: var(--tamano_fuente_titulos);
}
h2{
    font-size: calc(var(--tamano_fuente_titulos)*0.7);
    font-weight: 200;
}
hr{
    width: 90%;
    margin: 0 auto;
    color:var(--color_texto);
}

#map{
    height: var(--altura_mapa);
    width: var(--anchura_mapa);
}










/*clases de ayuda*/
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none;
}

.flex_center{
    align-self:center;
}
.opacidadMedia{
    opacity: 0.5;
}
.e1{grid-area: e1;}
.e2{grid-area: e2;}
.e3{grid-area: e3;}
.e4{grid-area: e4;}
.e5{grid-area: e5;}
.e6{grid-area: e6;}
.e7{grid-area: e7;}
.e8{grid-area: e8;}
.e9{grid-area: e9;}
.e10{grid-area: e10;}
.e11{grid-area: e11;}
.e12{grid-area: e12;}
.e13{grid-area: e13;}
.e14{grid-area: e14;}
.e15{grid-area: e15;}



/* estilos universales */
.img-fondo{
    width: 100%;
    height: 100vh;
  
    padding:1rem;
    background-color: rgba(50, 50, 50, 0.5);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}
.botones{
   
    cursor: pointer;
    color:var(--color_botones);
    border-color: var(--color_botones);
    background-color: var(--background_color_botones);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    border: 1px solid ;
    border-radius: calc(var(--tamano_fuente_botones)/2);
    padding: calc(var(--tamano_fuente_botones)/2) var(--tamano_fuente_botones);
    font-size:  var(--tamano_fuente_botones);

    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.botones:hover{
    background-color:var(--background_color_botones_hover);
    color: var(--color_botones_hover);
    border-width: 0;
    transform: scale(var( --transform_scale_botones));
}

/* carrusel */
.carrusel{
    margin: 0 auto;
    background: var(--bg_carrusel);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: var(--color_texto);
    position: relative;
    text-align: center;
    
}
.carrusel_slicer{
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;

    top: 0;
    left: 0;

}
.carrusel_flecha_derecha,
.carrusel_flecha_izquierda{
    width: 20%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 100;

}
.carrusel_flecha_derecha{
    top:0;
    right: 0;
    justify-content: flex-end;
    

}
.contenedor_puntos_slicer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.punto_slicer{
    background-color: rgba(0, 122, 79, 0.5);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.punto_slicer--activo{
    background-color: rgb(0, 122, 79);
}






/*clases de  la navegacion*/

.logo, .menu-desplegable{
    margin: 0 0rem;
    width:6rem;
    height:4rem;
}
.menu-desplegable{
    display: none;
    border-radius:1rem ;
}
.logo{
    margin-left: 1rem;
    border-radius: 1rem;
}
.desplegable{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor-nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.a-nav{
    color: var(--color_texto);
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0 1rem;

    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    z-index: 300;

}

.a-nav--activo{
    color: var(--verde_primario);
}
.a-logo{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.contenedor-salud{
    width: 90%;
    text-align: center;
    flex-grow:12;
    display: flex;
    align-items: center;
}
.a-nav:hover{
    color: var(--color_texto);

}











@media(max-width:1250px){
    .a-nav{
        font-size: 2rem;
        padding: 0.7rem 1.5rem;
        margin: 0 0.5rem;
        border-radius: 1rem;
    }


}
@media(max-width:1000px){
    .a-nav{
        font-size: 1.7rem;
        padding: 0.5rem 1rem;
        margin: 0 0.5rem;
    }


}
@media(max-width:768px){
    .a-logo{
        padding: 0;
        margin: 0;
        display: flex;
        height: 100%;
    }
    .contenedor-nav{
        flex-direction: column;
    }
    .contenedor-salud{
        justify-content: space-between;
    }

    .menu-desplegable{
        display: block;
        
    }
    .carrusel_slicer{
        --p_max_width:80%;
        --h_max_width:80%; 
    }
    
    .desplegable{
        height: 1px;
        overflow: hidden;
        flex-direction: column;
        transition: 0.5s height  ease-in-out;
        
    }
    
    .menu-desplegable:hover{
        border: var(--verde_secundario) solid 1px;
    }
    #desplegar:checked + .desplegable{
        height: 14.2rem;
    }
 

}
@media(max-width:570px) {
            .pupila{
                display: grid;
                display:grid;
                position: relative;
                grid-template-columns: repeat(6,1fr);
                grid-template-rows: repeat(6,1fr);
                align-items: center;
                justify-items: center;
                grid-template-areas: 
                '.   .  e2 e2    .    . '
                'e1 e1  .   .   e3  e3'
                'e4  .  .   .   .  e5'
                'e6 e6  .   .   e8 e8 '
                'e9 e9  .   .   e10 e10 '
                '.  . e7   e7   .  .'
                ;

            
            }    
}
@media(max-width:510px) {
    .carrusel_slicer{
        --p_max_width:70%;
        --tamano_fuente_titulos:3rem;    
    }

    
}

@media(max-width:460px) {
    .a-nav{
        display: block;
    }


}



